.nav1 {
  background-color: black;
  position: relative;
  top: 0;
}
.side1 {
  position: fixed;
  /* width: 167px;
  height: 100vh; */
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.outlet {
  width: 80%;
  /* background-color: rgba(0, 0, 0, 0.3); */
}
.card1 {
  /* border: 1px solid red; */
  display: flex;
}
.card1 > p {
  flex: 1;
}
.card2 {
  max-width: 160px;
  margin-left: 30px;
}

/* .btn1 {
  position: relative;
  top: 95px;
} */
