.backImage {
  width: 100%;
  height: 100vh;
  background-image: url("/public/photo/backImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
.backBo {
  width: 13rem;
  height: 15rem;
  margin-top: 6rem;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/public/photo/backBo.png");
}
.center1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boder {
  width: 35rem;
  height: 24.3rem;
  display: flex;
  /* border: 1px solid #893dff; */
  backdrop-filter: blur(2rem);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}
.login {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
#names {
  width: 16rem;
  /* background-color: transparent; */
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.625rem 0.625rem 0.625rem 1.875rem;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}
#email {
  width: 16rem;
  /* background-color: transparent; */
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.625rem 0.625rem 0.625rem 1.875rem;
  border-radius: 5px;
}
#passs {
  width: 16rem;
  /* background-color: transparent; */
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.625rem 0.625rem 0.625rem 1.875rem;
  border-radius: 5px;
  margin: 0.625rem 0.625rem 0.625rem 0;
}
.FaUser {
  font-size: 1.3rem;
  position: relative;
  right: 2.2rem;
  cursor: pointer;
}
.FaUsers {
  position: relative;
  left: 1.5rem;
}
.sign {
  color: #893dff;
}
.remem {
  margin-top: -8px !important;
  margin-left: 15px !important;
  margin-right: -263px !important;
}
.Forgot {
  font-size: 12px;
  margin-left: 38px;
  color: #893dff;
}
.loginbtn {
  width: 5rem;
  height: 2.3rem;
  background-color: #893dff;
  line-height: 1.2rem;
  margin-top: 3px;
  margin-left: 12px;
}
.Signbtn {
  width: 6rem;
  height: 2.3rem;
  background-color: #893dff;
  line-height: 1.2rem;
  margin-top: 15px;
  margin-left: 12px;
}
.RegisterLogo {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}
.Reset {
  height: 2.3rem;
  background-color: #893dff;
  line-height: 1.4rem;
  margin-top: 15px;
  margin-left: 15px;
}
.line {
  width: 20rem;
  margin-top: 3rem;
  margin-left: 12px;
  /* border: 1px solid red; */
  display: flex;
}
.lines {
  width: 20rem;
  margin-top: 1rem;
  margin-left: 12px;
  /* border: 1px solid red; */
  display: flex;
}
.Back {
  width: 10rem;
  margin-top: 3rem;
  margin-left: 12px;
  color: #000;
  text-decoration: none;
}
.Back > span {
  margin-left: 0.5rem;
  font-size: 12px;
}
.textLog {
  margin-top: 1.2rem;
  font-weight: bold;
}
.facebookIcon {
  width: 2.7rem;
  height: 2.7rem;
  background-image: url(/public/photo/facebook.png);
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #3b589c;
  background-color: #3b589c;
  margin: 0.5rem;
}
.XIcon {
  width: 2.7rem;
  height: 2.7rem;
  background-image: url(/public/photo/x.png);
  background-size: cover;
  border-radius: 50%;
  border: 1px solid black;
  background-color: black;
  margin: 0.5rem;
}
.googleIcon {
  width: 2.7rem;
  height: 2.7rem;
  background-image: url(/public/photo/google.png);
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  margin: 0.5rem;
}
.colBorder {
  margin-bottom: -12px;
}
/* ============================@media=========================== */
@media (max-width: 420px) {
  .backImages {
    width: 100%;
    height: 100vh;
    background-image: url("/public/photo/backImage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  .backBo {
    display: none;
  }
  .boder {
    width: 20rem;
    height: 24.3rem;
    display: flex;
    /* border: 1px solid #893dff; */
    backdrop-filter: blur(2rem);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
  }
}

.reset {
  color: #893dff;
  margin-left: 5px;
}
